**/.DS_Store
.vscode
**/build
**/__pycache__
**/*.pyc
**/test.py
**/*.log
**/log/
**/*.egg-info
**/*build
scripts/test_state_est.py
scripts/inputdata.txt
scripts/test_joystick.py

demo_dir/
checkpoint_dir/
**/models-gr1/
scripts/actions/

**/sensor_offset.txt

**/.idea/

**/pybind11/

*.npz
*.png

checkpoints/
deploy_dir/

ckpt_base/
ablation_data/